body {

    margin: 0;
}

.flex-view {
    display: flex;
    padding: 5% 10%;
    padding-bottom: 0%;


}

.container {
    width: 50%;

}

.container img {
    width: 70%;
    padding-left: 20%;

}

#border-line {
    border-left: 4px solid red;



}

#header1 {
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;

}

.button {
    padding: 10px 40px;
    background-color: rgb(190, 13, 190);
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 800;
    background-image: linear-gradient(rgb(221, 61, 61), rgb(177, 46, 177));

}

#p1 {
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.mission-heading {
    text-align: center;
}

.triple-box {
    width: 40%;

    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    padding: 20px;

}

.mis-images {
    width: 50%;
}

.mis-box-head {
    font-weight: bolder;
    font-size: 20px;

}

.box-pera {
    padding-top: 4%;
    padding-bottom: 1%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

#mis-box1 {
    background-color: #e7f7ff;
}

#mis-box2 {
    background-color: rgb(255, 230, 227);
}

#mis-box3 {
    background-color: rgb(255, 245, 212);
}

.container2 {
    width: 50%;
}

.container2 img {
    width: 80%;

}

h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.develop {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
}

#p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.container3 {
    width: 50%;
}

.container3 img {
    width: 60%;
    margin-left: 40%;
}

#underline {
    border-bottom: 2px solid rgb(252, 72, 237);
    margin-left: 550px;
    margin-right: 550px;
}

.conimg {
    width: 40px;
    height: 40px;
}

.mail {
    text-decoration: none;
    color: black;
}

#coninfo {
    margin-left: 530px;
    margin-top: 10px;
    padding-bottom: 40px;
}

.flex-view2 {
    display: flex;

}

.footer {
    color: white;
    background-color: black;
}

h1 {
    padding-top: 25px;
    font-family: 'Dancing Script', cursive;

}

.red {
    color: rgb(230, 106, 106);
}
.color{
    color:rgba(212, 2, 184, 0.979)
}